<div class="container">
  <!-- Slider Section -->
  <carousel>
    <slide *ngFor="let image of sliderImages">
      <img
        [src]="image"
        alt="Slider Image"
        class="img-fluid"
        style="width: 100%"
      />
    </slide>
  </carousel>

  <!-- Categories Section -->
  <h1 class="section-header">Categories</h1>
  <div class="row justify-content-between">
    <div class="col-md-2" *ngFor="let category of categories">
      <div class="category">
        <img [src]="category.image" alt="{{ category.name }}" />
      </div>
      <p class="text-center cate-name">{{ category.name }}</p>
    </div>
  </div>

  <!-- Products Section -->
  <h1 class="section-header">Hot Products</h1>
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <a href="product/{{ product._id }}" class="product">
        <img [src]="product.imageCover" alt="{{ product.title }}" />
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }}</p>
      </a>
    </div>
  </div>

  <!-- Brand Sections -->
  <h1 class="section-header">Brands</h1>
  <div class="row">
    <div class="col-md-2" *ngFor="let brand of brands">
      <a class="brand" href="products/{{ brand._id }}">
        <img [src]="brand.image" alt="" />
      </a>
    </div>
  </div>
</div>
